# Entorno virtual
.venv/
.venv

# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Modelos
models/

# Datos descargados
data/

# Hugging Face cache
.cache/

#Entorno con api
.env